@media screen and (max-width:805px) {
    
    .logo img{
        height: 80px;
        width: 250px;
    }
    .list {
        width: 100%;
        height: 100vh;
        background-color:#fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 8rem;
        left: 100%;
        transition: all 1s;
        z-index: 10;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

    .contectform form input{
        width: 80%;
        margin-top: 15px;
    }

    .contectform form .submit{
        width: 25%;
    }

}